header h1 {
  background-color: rgb(202, 202, 154);
  margin: 0%;
  text-align: center;
  padding: 0.2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a,
.dropdown {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.menu:hover .dropdown {
  background-color: rgb(118, 168, 118);
}

li.menu {
  display: inline-block;
}

.menu-items {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(151, 146, 146, 0.2);
  z-index: 1;
}

.menu-items a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu-items a:hover {
  background-color: #c5bebe;
}

.menu:hover .menu-items {
  display: block;
}
